ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
   
}
li a{
    display: block;
    background-color: #0a21f0;
    color: rgb(0, 0, 0);
    padding: 8px 10px;
    text-decoration: none;
}
li a:hover{
    display: block;
    background-color: #0a21f0;
    color: white;
    padding: 8px 10px;
    text-decoration: none;
}
li a.activo{
    background-color: purple;
    color: crimson;
}
li a:hover:not(.activo){
    background-color: hsl(197, 89%, 48%);
    color: crimson;
}